%h1 Impressum

%strong Absolventa GmbH
%p Greifswalder Straße 212
%p 10405 Berlin

%p Geschäftsführer Christoph Jost
%p Registernummer  HRB 111986, AG Berlin‑Charlottenburg
%p USt-IdNr. DE258999258
%p Inhaltlich verantwortlich (§55 RStV)   Christoph Jost, c/o Absolventa GmbH, Greifswalder Str. 212, 10405 Berlin

%p Telefon (geschäftlich)  030 / 240483‑100
%p Fax 030 / 240483‑200
%p E-Mail  info@absolventa.de

%strong Haftungshinweis
%p
  Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.